:root {
  --bg-light-color: #fff;
  --bg-dark-color: #000;
  --bg-after-color: rgba(14, 12, 14, 0.6);
  --bg-poke-color-dark-normal: rgb(169, 165, 158);
  --bg-poke-color-dark-fighting: rgb(143, 92, 92);
  --bg-poke-color-dark-flying: rgb(153, 108, 137);
  --bg-poke-color-dark-poison: rgb(122, 102, 133);
  --bg-poke-color-dark-ground: rgb(137, 115, 74);
  --bg-poke-color-dark-rock: rgb(173, 138, 89);
  --bg-poke-color-dark-bug: rgb(98, 158, 96);
  --bg-poke-color-dark-ghost: rgb(138, 92, 148);
  --bg-poke-color-dark-steel: rgb(141, 116, 52);
  --bg-poke-color-dark-fire: rgb(187, 63, 1);
  --bg-poke-color-dark-water: rgb(101, 145, 158);
  --bg-poke-color-dark-grass: rgb(85, 124, 101);
  --bg-poke-color-dark-electric: rgb(119, 106, 37);
  --bg-poke-color-dark-psychic: rgb(123, 56, 104);
  --bg-poke-color-dark-ice: rgb(100, 118, 152);
  --bg-poke-color-dark-dragon: rgb(113, 82, 145);
  --bg-poke-color-dark-dark: rgb(148, 147, 144);
  --bg-poke-color-dark-fairy: rgb(135, 78, 123);
  --bg-poke-color-dark-unknown: rgb(112, 91, 37);
  --bg-poke-color-dark-shadow: rgb(98, 33, 79);

  --bg-poke-color-light-normal: rgb(236, 199, 125);
  --bg-poke-color-light-fighting: rgba(221, 88, 88, 0.908);
  --bg-poke-color-light-flying: rgba(175, 100, 225, 0.667);
  --bg-poke-color-light-poison: rgba(165, 92, 205, 0.835);
  --bg-poke-color-light-ground: rgba(235, 207, 142, 0.698);
  --bg-poke-color-light-rock: rgba(203, 140, 95, 0.749);
  --bg-poke-color-light-bug: rgb(118, 211, 102);
  --bg-poke-color-light-ghost: rgba(203, 142, 235, 0.835);
  --bg-poke-color-light-steel: rgba(145, 148, 146, 0.835);
  --bg-poke-color-light-fire: rgb(238, 62, 62);
  --bg-poke-color-light-water: rgb(41, 218, 180);
  --bg-poke-color-light-grass: rgb(82, 187, 56);
  --bg-poke-color-light-electric: rgb(223, 215, 58);
  --bg-poke-color-light-psychic: rgb(244, 87, 220);
  --bg-poke-color-light-ice: rgb(64, 185, 183);
  --bg-poke-color-light-dragon: rgba(149, 95, 203, 0.831);
  --bg-poke-color-light-dark: rgba(148, 147, 144, 0.928);
  --bg-poke-color-light-fairy: rgba(235, 142, 230, 0.42);
  --bg-poke-color-light-unknown: rgb(255, 234, 182);
  --bg-poke-color-light-shadow: rgb(235, 162, 217);

  --bg-poke-color-shadow-normal: rgba(233, 194, 115, 0.545);
  --bg-poke-color-shadow-fighting: rgba(221, 88, 88, 0.3);
  --bg-poke-color-shadow-flying: rgba(175, 100, 225, 0.3);
  --bg-poke-color-shadow-poison: rgba(165, 92, 205, 0.3);
  --bg-poke-color-shadow-ground: rgba(235, 207, 142, 0.3);
  --bg-poke-color-shadow-rock: rgba(203, 140, 95, 0.3);
  --bg-poke-color-shadow-bug: rgb(118, 211, 102, 0.3);
  --bg-poke-color-shadow-ghost: rgba(203, 142, 235, 0.3);
  --bg-poke-color-shadow-steel: rgba(145, 148, 146, 0.3);
  --bg-poke-color-shadow-fire: rgba(230, 119, 119, 0.3);
  --bg-poke-color-shadow-water: rgb(41, 218, 180, 0.3);
  --bg-poke-color-shadow-grass: rgb(82, 187, 56, 0.3);
  --bg-poke-color-shadow-electric: rgba(235, 230, 142, 0.3);
  --bg-poke-color-shadow-psychic: rgb(244, 87, 220, 0.3);
  --bg-poke-color-shadow-ice: rgb(64, 185, 183, 0.3);
  --bg-poke-color-shadow-dragon: rgba(149, 95, 203, 0.3);
  --bg-poke-color-shadow-dark: rgba(148, 147, 144, 0.3);
  --bg-poke-color-shadow-fairy: rgba(235, 142, 230, 0.3);
  --bg-poke-color-shadow-unknown: rgba(247, 243, 233, 0.3);
  --bg-poke-color-shadow-shadow: rgba(247, 233, 243, 0.3);
}
