@import 'base/colors';

@import 'components/switch';

#root,
.app {
  width: 100%;
  height: 100%;

  transition-property: color, background;
  transition-duration: 0.5s;
  transition-timing-function: ease;

  &[data-theme='dark'] {
    color: white;
    background-color: #1c1c1c;

    .SwitchRoot[data-state='checked'] {
      background-color: rgb(245 54 96);
    }
  }
}

.app {
  &-container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
  }
}
