@import 'base/colors';

@import 'components/switch';

// body {
//   background-image: url('../img/bg-pokemon.svg');
//   background-repeat: unset;
//   background-size: 833px;
//   background-position: 206px -67px;
//   background-color: #e9e9e9;
//   background-blend-mode: soft-light;
// }

#root,
.app {
  width: 100%;
  min-height: 100%;

  transition-property: color, background;
  transition-duration: 0.5s;
  transition-timing-function: ease;

  background-image: url('../img/bg-pokemon.svg');
  background-repeat: unset;
  background-size: 800px;
  background-position: 206px -67px;
  background-color: #e9e9e9;
  background-blend-mode: soft-light;

  &[data-theme='dark'] {
    color: white;
    background-color: #1c1c1c;
    background-blend-mode: multiply;

    .SwitchRoot[data-state='checked'] {
      background-color: rgb(245 54 96);
    }
  }
}

.app {
  min-height: 100vh;

  &-container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
  }
}
